/*fuentes lato y poppins*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*fin fin fuentes*/


body {
    font-family: lato;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: poppins;
}

/*cabecera*/

.cabecera-cover {
    background-image: url(../img/micanvas_prueba.jpg);
    background-size: cover;
    background-position: center;
    
/*    padding-top: 300px;*/
/*    padding-left: 10px;*/
    display: flex;
    align-items: center;

}

.cabecera-cover h6 {
    font-weight: 400;
    font-size: 14px;
}

.cabecera-cover h1 {
    font-weight: 700;
    font-size: 49px;
}

.cabecera-cover p {
    font-weight: 400;
    font-size: 17px;
    max-width: 600px;
    
}

.cabecera-cover a {
    font-weight: 700;
    font-size: 14px;
    background: rgba(0,0,0,0);
    color: #fff;
}

.cabecera-cover a:hover {
    background: #fff;   
}

/*fin fin cabecera*/




/*grid*/

.para-grid {       
    display: flex;
}


.para-grid .icono i {
    font-size: 32px;
    width: 50px;
    text-align: center;    
}

/*fin fin grid*/



/*barra navegacion*/

.navbar{
    padding-left: 0;
    padding-right: 0;
}

nav a.navbar {
    text-decoration: none;
}

.nav-menu {
    font-size: 13px;
    font-weight: 700;
}


/*fin fin barra navegacion*/

/*orientacion horizontal*/
    @media screen and (max-height: 414px) and (orientation: landscape) {
    /*boortrasp md*******************************/
        .cabecera-cover .container {
            transform: scale(1);
            margin-top: 100px;
        }
    }

    @media screen and (max-height: 320px) and (orientation: landscape) {
    /*boortrasp md*******************************/
        .cabecera-cover .container {
            transform: scale(.8);
            margin-top: 100px;
        }
    }

/*fin fin orientacion horizontal*/

